h1{
    text-align: center;
    background-color: rgb(57, 55, 55);
    margin: 0;
    color: white;
}


.acceptable {
color: green;
}

.blockColor {
    padding: 20px;
    background-color: #1E90FF;
    border: 5px solid lightgray;
    color: white;
    position: relative;
    float: left;
    margin: 20px;
    

}

